pytest
wheel
build
isort
black
flake8
jupyterlab
torch
torchvision
tqdm
datasets
pandas
numpy
wandb
ftfy
regex
scikit-learn
click
joblib
pyyaml
hydra-core
hydra_colorlog
rich
six
filelock
wget
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_cudnn82]  # GPU
#jax[cpu]  # CPU
tree-math
equinox
optax
carbontracker